@charset "utf-8";


.ptd_story_div{
		margin-bottom: 15px;

}

.ptd_card{
    clear: both;
    padding-bottom: 15px;
    padding-top: 15px;
    height: 125px;
    border-bottom: solid 1px var(--color-gray-light);
}

.ptd_card_body img{
    display: block;
    margin-left: 10px;
    max-width: 125px;
    max-height: 95px;
    float: right;
}

.ptd_card_body h2{
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
	width: calc(100% - 150px);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.ptd_card_body h2 a:hover {
	color: var(--color-impact-text);
}


.ptd_card_body .description{
	font-size: 15px;
    line-height: 24px;
	width: calc(100% - 150px);
	display: -webkit-box;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}

.ptd_card_body .meta{
	margin-top:  5px;
	font-size: 13px;
}


.ptd_card_body .meta .meta_cate_link{
	float: left;
	padding-right:  10px;
	margin-right:  10px;
	border-right: solid 1px var(--color-gray-text);
}

.ptd_card_body .meta .date{
	float: left;
	padding-right:  10px;
	margin-right:  10px;
}

.ptd_card_body .meta .adm_input{
	float: left;
}
